#pointer {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.overflow-scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.content-column {
    height: calc(100vh)
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.action-button-right {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 4em;
    height: 4em;
    border-radius: 50% !important;
}

.action-button-left {
    position: fixed;
    bottom: 1em;
    left: 1em;
    width: 4em;
    height: 4em;
    border-radius: 50% !important;
}

.grey {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card-text-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 18em;
}

.card-image {

}

.full-size-card-text {

}

.full-size-card-body {
    padding-top: 0.5em !important;
    padding-bottom: 0 !important;
}

@media only screen and (min-width: 769px) {
    .full-size-card-text {
        width: 15em;
        height: 18em;
    }

    .card-text-header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }
}