#pointer {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.overflow-scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.content-column {
    height: calc(-60px + 100vh)
}