#pointer {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.overflow-scroll {
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

.content-column {
    height: calc(100vh)
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.action-button-right {
    position: fixed;
    right: 1em;
    width: 4em;
    height: 4em;
    border-radius: 50% !important;
}

.action-button-1 {
    bottom: 1em;
}

.action-button-2 {
    bottom: 6em;
}

.action-button-left {
    position: fixed;
    bottom: 1em;
    left: 1em;
    width: 4em;
    height: 4em;
    border-radius: 50% !important;
}

.grey {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.card-text-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 18em;
}

.text-card-list {
}

.card-image {

}

.full-size-card-text {

}

.full-size-card-body {
    padding-top: 0.5em !important;
    padding-bottom: 0 !important;
}

.card-details-block {
    height: 4em;
}

.card-details-achievement-field {
}

@media only screen and (min-width: 769px) {
    .full-size-card-text {
        width: 15em;
    }

    .card-text-header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }

    .text-card-list {
        min-height: 9em;
    }

    .card-details-achievement-field {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 9em;
    }

    .action-button-2 {
        bottom: 1em;
    }
}

.inventory-summary-sub-card-header {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-left: 1.25rem !important;
}
.inventory-summary-sub-card {
    margin-bottom: 0.25rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.inventory-summary-sub-card-body {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.inventory-summary-requirements-card-body {
    padding: 0.25rem !important;
}

.inventory-summary-sub-card-list {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.bg-transparent {
    background: transparent;
}

.bg-black {
    background: black;
}

.img-shadow {
    position: relative;
    max-width: 100%;
    float: left;
}

.img-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: inset 0 0 20px 8px #000000;
}

.img-shadow img {
    float: left;
} 

.font-weight-semi-bold {
    font-weight: 600;
}
